<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/tabulator-tables@4.5.3/dist/css/tabulator.min.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/tabulator-tables@4.5.3/dist/js/tabulator.min.js"
    ></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body class="black">
    <nav>
      <div class="nav-wrapper black lighten-1">
        <a href="#!" class="brand-logo">
          <img
            src="https://arrowproxies.com/Images/2x/Asset%201@2x.png"
            style="height:50px; width: 50px; margin:10px;"
          />
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="plans"><i class="material-icons">layers</i></a>
          </li>
          <li>
            <a href="users"><i class="material-icons">account_circle</i></a>
          </li>
          <li>
            <a href="server"><i class="material-icons">cloud</i></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h1 class="white-text">Plans</h1>
      <h6 class="white-text">Vaccant Proxies : <%=totalProxies %> </h6>
      <h6 class="white-text">Stock Allocated : <%= totalStocked %> </h6>
      <h6 class="white-text">Sale Live : <%=LIVE%>  (<a href="/sfth/setlive/ON">START SALE</a> // <a href="/sfth/setlive/off">END SALE</a>)  </h6>
      <h6 class="white-text">Password: <%= PASSWORD %> </h6>
      <form class="white-text" method="POST" action="setpassword">
        <input type="text" name="password" class="white-text" />
        <input type="submit" class="btn" value="Set" />
      </form>
      <h3 class="white-text">Public Plans</h3>
      <div id="example-table"></div>
      <h3 class="white-text">Custom Plans </button></h3> 
      <a href="/sfth/newplan" class="waves-effect waves-light btn">New Custom Plan</a>
      <br>
      <br>
      <div id="custom"></div>
    </div>
  </body>
  <script>
    var tabledata = <%- JSON.stringify(publicPlans) %>;

    var table = new Tabulator("#example-table", {
      height: 550, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
      data: tabledata, //assign data to table
      layout: "fitColumns", //fit columns to width of table (optional)
       columns: [
        //Define Table Columns
        { title: "Id", field: "_id", width: 150 },
        { title: "Plan Name", field: "planName", width: 150 },
         { title: "Plan Quantity", field: "proxyQuantity", width: 150 },
         {title: "Quality Index", field: "serverType", width:150},
        { title: "Plan Price", field: "planPrice" },
        {title: "Duration", field: "planDuration"},
        { title: "Stock Specified", field: "stock" }
      ],
     rowClick: function(e, row) {
        window.location.href = `plans/${row._row.data._id}`;
       }
    });
    //Custom table here

    var customdata = <%- JSON.stringify(customPlans) %>;

    var table2 = new Tabulator("#custom", {
      height: 250, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
      data: customdata, //assign data to table
      layout: "fitColumns", //fit columns to width of table (optional)
      columns: [
        //Define Table Columns
        { title: "Id", field: "_id", width: 150 },
        { title: "Plan Name", field: "planName", width: 150 },
         { title: "Plan Quantity", field: "proxyQuantity", width: 150 },
          {title: "Quality Index", field: "serverType", width:150},
        { title: "Plan Price", field: "planPrice" },

        { title: "Stock Specified", field: "stock" }
      ],
      rowClick: function(e, row) {
        window.location.href = `plans/${row._row.data._id}`;
    }
  });
  </script>
</html>
